* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.wrap-cont {
  max-width: 1080px;
  margin: 0 auto;
}
header {
  background-color: #0066cc;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.hamburger {
  font-size: 30px;
  cursor: pointer;
}
.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  display: none;
  flex-direction: column;
  padding: 1rem;
  background-color: #0066cc;
}
nav ul.active {
  display: flex;
}
nav ul li {
  padding: 0.5rem;
  list-style-type: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: small;
}

nav ul li a:hover {
  color: #ffcc00;
}

main {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.figure-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
figure {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer #lastModified {
  color: #fff;
  font-size: 14px;
}

/* temples-large.css - Larger View Design */

@media (min-width: 768px) {
  nav ul {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .hamburger {
    display: none;
  }
  main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-flex-w {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li a {
    font-size: 26px;
  }
  /* .nav-flex {
    display: none;
  } */
}
